<div class="twitter-clone">
  <h1>Twitter Clone</h1>
  
  <!-- Removed the User Selector Component -->
  
  <div>
    <label for="user-select">Select User:</label>
    <select id="user-select" [(ngModel)]="selectedUserId" (change)="onUserChange(selectedUserId)">
      <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
    </select>
  </div>

  <div class="content">
    <!-- Post List Component -->
    <app-post-list 
      [userId]="selectedUserId" 
      (postSelected)="onPostSelected($event)">
    </app-post-list>
    
    <!-- Comment List Component -->
    <app-comment-list [postId]="selectedPostId || 0"></app-comment-list>
  </div>
</div>